body{
width: 100%;
height: 100%;
margin: 0;

}

/*.header{
background-color:#000;
color:#f8f8f8;
border-color: #080808;
min-height: 50px;
border: 1px solid transparent;
}
*/

/*.inner-header{
width:80%;
margin:auto;
}
*/

a{
text-decoration: none;
background-color: transparent;
color:#ededed;
}

/*.logo{
float: left;
height: 50px;
padding: 15px;
font-size: 20px;
font-weight: bold;
color:grey;
}

.header-link{
float:right;
font-size:14px;
height: 50px;
padding: 15px 15px;
font-size:16px;
font-weight: bold;
color: grey;
}
*/



.rmvb{
list-style: none;
padding-left: 50px;
}

.color{
text-align: center;
text-transform: uppercase;
}

.thumbnail1{
overflow: auto;
padding: 10px 0 0 10px;
}
.banner_image {
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYJwTgmzHORBeIxnTJmkvnlYU8v8u6S37fZg&usqp=CAU") no-repeat center center;
    background-size: cover;
}

.banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    border-radius: 25px;
}


.modal-header, .close{
    background-color:orange;
    color: white !important;
    text-align: center;
    font-size: 50px;
}



.modal-header, .close{
background-color:orange;
color: white !important;
text-align: center;
font-size: 50px;
}
.element{
width:90%;
margin:auto;
overflow:hidden;
}




.footer{
padding: 10px 0;
background-color: #101010;
color:#9d9d9d;
bottom: 0;
width: 100%;

bottom: 0;
}

.button{
color: #fff;
background-color: #c9302c;
border-color: #ac2925;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 6px;


}

.back{
background-color:lightgray;
}
.life{
color: black;
}
.center{
position: absolute;
top:50%;
left: 50%;
right:50%;
transform: translate(-50%, -50%);
width:400px;
background-color: white;
border-radius: 10px;
}

.center h1{
text-align: center;
padding: 0 0 20px 0;
border-bottom: 1px solid silver;
}
.center form{
padding: 0 20px;
}
form .txt{
position: relative;
border-bottom: 2px solid #adadad;
margin: 30px 0;
}
.txt input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
outline: none;
background: none;

}
.txt label{
position: absolute;
top:50%;
left:5px;

color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}
.txt span::before{
content: '';
position: absolute;

top:40px;
left: 0;
width: 100%;
height: 2px;
background: #2691d9;
}
.txt input:focus ~label,
.txt input:valid ~label{
top:-5px;

}
.pass{
margin: -5px 0 20px 5px;
color: #a6a6a6;
}
input[type="submit"]
{
width:100%;
height:55px;
border: 1px solid black;
background: #2691d9;
color: white;
cursor: pointer;
font-weight: 700;
outline: none;
border-radius: 25px;
}
.pass1{
margin: 10px 0;
text-align :center;
}